@import url(reset.css);
@import url(common.css);

header {
  padding: 0 160px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  width: 85px;
}

.menu_wrap {
  display: flex;
  gap: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}

.menu_wrap a {
  font-size: 18px;
  transition: 0.3s ease;
}

.menu_wrap a:hover {
  color: #194e92;
}

/* header end */

.section_1 {
  position: relative;
}

.bg_1 img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.title_wrap_1 {
  position: absolute;
  bottom: 100px;
  left: 160px;
}

.title_wrap_1 h3 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}
.title_wrap_1 h2 {
  font-size: 60px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -2px;
}
.title_wrap_1 P {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #fff;
}

/* .btn_1 {
  width: 145px;
  height: 55px;
  border-radius: 5px;
  background-color: #fff;
} */

.btn_1 {
  position: relative;
  width: 145px;
  height: 55px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.btn_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #194e92;
  transition: 0.3s ease;
}

.btn_1 a {
  width: 100%;
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  position: relative;
  z-index: 1;
}

.btn_1:hover::before {
  width: 100%;
}

.btn_1:hover a {
  color: #fff;
}
/* section_1 end */

.section_2 {
  margin-bottom: 350px;
}

.con_wrap_2 {
  position: relative;
  display: flex;
  gap: 120px;
}

.visual_wrap_2 {
  width: 54.875%;
}

.visual_wrap_2 video {
  width: 100%;
  height: 492px;
  object-fit: cover;
  border-radius: 15px;
}

.visual_wrap_2 img {
  width: 13.333333%;
  height: 376px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  left: 44.79166%;
  border-radius: 20px;
}

.txt_wrap_2 p {
  font-size: 44px;
  line-height: 62px;
  margin-bottom: 40px;
}
.txt_wrap_2 span {
  font-weight: 700;
}

.btn_2 {
  width: 145px;
  height: 55px;
  border-radius: 44px;
  border: 1px solid rgba(29, 29, 29, 0.2);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  transition: 0.3s ease;
}
.btn_2 a {
  width: 100%;
  height: 100%;
  display: block;
}

.btn_2:hover {
  background-color: #194e92;
}
.btn_2:hover a {
  color: white;
}
/* section_2 end */

.section_3 {
  display: flex;
  justify-content: space-between;
  background-color: #fcf9f6;
}

.txt_wrap_3 {
  width: 43.59375%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt_wrap_3 h3 {
  font-weight: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.txt_wrap_3 p {
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 50px;
}

.con_wrap_3 {
  width: 56.40625%;
}

.con_wrap_3 img {
  width: 100%;
  height: 653px;
  object-fit: cover;
}

.btn_3 {
  width: 145px;
  height: 55px;
  background-color: #194e92;
  border: 1px solid rgba(29, 29, 29, 0.2);
  border-radius: 44px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  transition: 0.3s ease;
}

.btn_3 a {
  color: white;
  width: 100%;
  height: 100%;
  display: block;
}

.btn_3:hover {
  background-color: unset;
}

.btn_3:hover a {
  color: #1d1d1d;
}

/* section_3 end */

.con_wrap_4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.con_4 {
  width: 19%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.con_4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.hover_box_4 {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s ease;
}

.hover_box_4 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.hover_box_4 h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.btn_4 {
  color: #fff;
  font-size: 18px;
  font: 700;
}

.con_4:hover .hover_box_4 {
  opacity: 1;
}
/* section_4 end */

.con_wrap_5 {
  display: flex;
  justify-content: space-between;
}

.con_5 {
  width: 32%;
  height: 643px;
  position: relative;
}

.con_5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  filter: brightness(0.5);
}

.txt_wrap_5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.6s ease;
}

.txt_wrap_5 h2 {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}

.txt_wrap_5 p {
  font-size: 20px;
  color: white;
  line-height: 25px;
}

.btn_5 {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
  color: white;
  position: absolute;
  top: 55px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.6s ease;
  opacity: 0;
}

.btn_5 svg {
  position: relative;
  top: 2px;
}

.con_5:hover .txt_wrap_5 {
  top: -31px;
}
.con_5:hover .btn_5 {
  top: 85px;
  opacity: 1;
}
/* section_5 end */

.section_6 {
  display: flex;
  justify-content: space-between;
}

.con_wrap_6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 50px;
}
.con_6 {
  padding-top: 10px;
  border-top: 2px solid rgba(29, 29, 29, 0.2);
  transition: 0.5s;
  position: relative;
}

.con_6::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #194e92;
  transition: 0.5s ease;
}

.txt_wrap_6 h3 {
  font-size: 20px;
  font-size: 700;
  color: #194e92;
  margin-bottom: 20px;
}
.txt_wrap_6 h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.txt_wrap_6 p {
  opacity: 0.5;
  line-height: 22px;
  margin-bottom: 50px;
}

.btn_6 {
  width: 100px;
  height: 40px;
  color: #1d1d1d;
  text-align: center;
  line-height: 40px;
  border: 1px solid rgba(29, 29, 29, 0.2);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.btn_6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #194e92;
  z-index: 0;
  transition: 0.3s ease;
}

.btn_6 span {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.con_6:hover::before {
  width: 100%;
}

.con_6:hover .btn_6::before {
  width: 100%;
}

.con_6:hover .btn_6 span {
  color: white;
}
/* section_6 end */

footer {
  background-color: #464d5d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.ft_logo {
  width: 85px;
  margin-bottom: 30px;
}

.ft_txt {
  margin-bottom: 50px;
}

.ft_txt p {
  font-size: 20px;
  color: #fff;
}

.ft_menu {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.ft_menu a {
  color: #fff;
}
.ft_menu li {
  position: relative;
  font-size: 20px;
}

.ft_menu li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  width: 2px;
  height: 15px;
  background-color: #fff;
  opacity: 0.5;
}

.ft_menu li:last-child::after {
  display: none;
}

.customer {
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
}

.customer p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.customer h3 {
  font-size: 32px;
  color: #fff;
}

.sns_wrap {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.icon_wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}

.family_site {
  position: relative;
  display: inline-block;
}

.family_btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  padding: 12px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.arrow i {
  margin-left: 10px;
  transition: 0.3s;
  color: #fff;
}

.family_menu {
  background-color: #fff;
  display: none;
  padding: 10px 0;
}

.family_menu a {
  color: #1d1d1d;
  display: block;
  padding: 10px 10px;
}

.family_menu a:hover {
  color: #194e92;
  font-weight: 700;
}

.family_btn .arrow {
  margin-left: 5px;
  color: #fff;
}

.family_site.open .family_menu {
  display: block;
}

.family_btn .arrow i {
  transition: 0.3s;
}

.family_btn .arrow i.rotated {
  transform: rotate(180deg);
}

.copy p {
  color: #fff;
  opacity: 0.5;
}
